{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <tr>
            <td>Case 1</td>
            <td>Case 2</td>
            <td>Case 3</td>
            <td>Case 4</td>
        </tr>
    </table>

{% endblock %}
